@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400);


.navbar-brand img {
  max-height: 55px;
}

.navbar-brand {
  padding-bottom: 0px;
  padding-top: 0px;
}
.review-body {
  padding: 25px;
}

.review-body p{
  margin-bottom: 20px;
  font-style: italic;
  text-align: justify;
  line-height: 33px;
  letter-spacing: .0.05rem;
}

.review-body span{
  text-align: right;
  font-size: 16px;
  width: 100%;
  display:block;
}

.card {
  border-radius: 0px;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
  transition: all .3s ease-in-out;
  padding: 2.25rem 0;
  position: relative;
  will-change:transform; 
}
  
.card  .card-header {
  background-color: white;
  padding-left: 2rem;
  border-bottom: 0px;
}
.card  .card-title {
  margin-bottom: 1rem;
}
.card  .card-block {
  padding-top: 0;
}
.card  .list-group-item {
  border: 0px;
  padding: .25rem;
  color: #808080;
  font-weight: 300;
}

.display-2 {
  font-size: 7rem;
}
.display-2  .currency {
  font-size: 2.75rem;
  position: relative;
  font-weight: 400;
  top: -45px;
  letter-spacing: 0px;
}
.display-2  .period {
  font-size: 1rem;
  color: lighten(#808080, 20%);
  letter-spacing: 0px;
}

.section-footing {
  margin-top: 15px;
  margin-bottom: 15px;
}
.section-footing p{
  text-align: center;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background: #ffffff;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
}

#learn ul li {
  margin-bottom: 15px;
  text-align: justify;
}

a:hover {
  text-decoration: none;
}

.slick-slide:focus {
  outline: 0;
}

.section-heading {
  text-align: center;
  margin-bottom: 65px;
}

.title {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 300;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.subtitle-des {
  color: #727272;
  font-size: 14px;
  margin-bottom: 35px;
  font-weight: 300;
}

.pages {
  padding: 80px 0 40px;
}

.moduler {
  padding: 140px 0;
}

.social-share li {
  display: inline-block;
  margin: 3px 1px;
}

.social-share a {
  font-size: 20px;
  color: #fff;
  background: #d9ac16;
  padding: 4px 10px;
  display: inline-block;
}

.fancybox-close {
  background: url("../images/icons/close.png") no-repeat scroll 0 0 transparent;
  
  height: 50px;
  right: 0;
  top: 0;
  width: 50px;
}

.fancybox-next span {
  background: url("../images/icons/right.png") no-repeat scroll center center #009ee3;
  height: 50px;
  width: 50px;
  right: 0;
}

.fancybox-prev span {
  background: url("../images/icons/left.png") no-repeat scroll center center #009ee3;
  height: 50px;
  width: 50px;
  left: 0;
}

.fancybox-title {
  padding: 15px 8px;
}

.fancybox-title h3 {
  font-size: 15px;
  margin: 0;
}

.global-page-header {
  background-attachment: fixed;
  background-size: cover;
  padding: 120px 0 25px 0;
  position: relative;
  background: #d9ac16;
  color: #fff;
}

.global-page-header h2 {
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.global-page-header .breadcrumb {
  background: none;
  font-size: 16px;
  padding: 8px 0;
  display: block;
}

.global-page-header .breadcrumb .active,
.global-page-header .breadcrumb li a {
  color: #fff;
}

.global-page-header .block {
  position: relative;
  z-index: 9;
  text-align: center;
}

.works-fit {
  padding: 40px 0;
}

.works-fit figure .buttons {
  left: 14%;
}

.company-description {
  padding: 70px 0;
}

.company-description .block h3 {
  margin-top: 0;
}

.company-description .block p {
  color: #727272;
}

/*=== MEDIA QUERY ===*/
.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  color: #fff;
  transition: all 0.2s ease-out 0s;
  padding: 15px 0;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dedede;
  z-index: 10;
}

.top-bar.animated-header {
  padding: 10px 0;
  background: #fff;
  box-shadow: none;
}

.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 18px;
}

.navbar.bg-light {
  background: #fff !important;
}

.navbar .nav-item .nav-link {
  text-align: center;
  padding: 0px;
  color: #444 !important;
  font-size: 16px;
  font-weight: 500;
  transition: .3s all;
  text-transform: uppercase;
  display: block;
}

.navbar .nav-item {
  padding: 8px 15px;
}

.navbar .nav-item .nav-link:hover {
  color: #d9ac16 !important;
}

.navbar .nav-item:last-child .nav-link {
  padding-right: 0;
}

.dropdown-menu {
  background: #222222;
  border: 0;
  border-radius: 0;
  padding: 15px;
  box-shadow: none;
  display: block;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  transform: scale(0.8);
  transition: visibility 500ms, opacity 500ms, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
}

@media (max-width: 991px) {
  .dropdown-menu {
    display: none;
    opacity: unset;
    visibility: unset;
    transform: scale(1);
  }
}

.dropdown-item {
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  padding: 8px 0;
  transition: .3s all;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
  color: #d9ac16 !important;
  background: transparent;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

#hero-area {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover !important;
  /* background-attachment: fixed; */
  padding: 160px 0;
  background: rgba(255, 255, 255, 0.90);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

#hero-area:before {
  content: '';
  z-index: 9;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#hero-area .block {
  position: relative;
  z-index: 9;
  padding-left: 20px;
  padding-right: 20px;
}

#hero-area h1 {
  font-size: 40px;
  line-height: 50px;
  color: #333;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#hero-area h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: -30px;
  line-height: 27px;
  text-transform: inherit;
  color: #666;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
}

#hero-area .btn:hover {
  color: #fff;
  background: #d9ac16;
}

#hero-area .btn {
  background: #fff;
  border: 2px solid #d9ac16;
  color: #d9ac16;
  padding: 15px 34px;
  margin-top: 70px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 0;
  transition: all linear .2s;
}

#contact {
  background: #d9ac16;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0;
  text-align: center;
  position: relative;
  color: #fff;
}

#contact .block {
  position: relative;
  z-index: 9;
  color: #fff;
}

#contact .block h2 {
  margin-bottom: 15px;
  color: #fff;
}

#contact .block p {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  padding-left: 11px;
  padding-right: 11px;
}

#contact .block .btn-contact {
  background: #fff;
  border: 2px solid #fff;
  color: #d9ac16;
  padding: 15px 34px;
  margin-top: 20px;
  font-size: 1rem;
  letter-spacing: 2px;
  border-radius: 0;
  transition: all linear .2s;
}

#contact .block .btn-contact i {
  margin-right: 10px;
}

#contact .block .btn-contact:hover {
  color: #fff;
  background: #d9ac16;
}

#tutor, #mission {
  padding: 80px 0 0 0;
}

#tutor .block, #mission .block {
  padding-left: 0px;
  padding-right: 0px;
}

#tutor .block p, #mission .block p {
  text-align: justify;
}

#tutor img, #mission img {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.tutor-feature .block, .mission-feature .block {
  color: #fff;
  padding: 85px 65px;
  float: left;
}

.tutor-feature .block p, .mission-feature .block p {
  font-weight: 300;
}

.tutor-feature .tutor-feature-1, .mission-feature .mission-feature-1 {
  background: #d9ac16;
}

.tutor-feature .tutor-feature-2, .mission-feature .mission-feature-2 {
  background: #00B0C7;
}

.tutor-feature .tutor-feature-3, .mission-feature .mission-feature-3 {
  background: #00A6BB;
}

.works {
  padding: 80px 0;
  background: #FCFCFC;
}

.works .block {
  position: relative;
  z-index: 99;
}

.works .block:hover .img-overly .overly {
  opacity: 1;
}

.works .block h4 {
  padding: 20px 15px;
  margin-top: 0;
  color: #666;
}

.works .block .img-overly {
  position: relative;
  background: rgba(0, 0, 0, 0.85);
}

.works .block .img-overly img {
  border-radius: 0;
}

.works .block .img-overly .overly {
  background: rgba(57, 181, 74, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: .3s all;
}

.works .block .img-overly .overly a {
  position: absolute;
  top: 45%;
  left: 22%;
}

.works .block .img-overly .overly a i {
  font-size: 30px;
  color: #fff;
}

figure {
  background: #fff;
  margin-bottom: 45px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
}

figure .img-wrapper {
  position: relative;
  overflow: hidden;
}

figure img {
  transform: scale3d(1, 1, 1);
  transition: transform 400ms;
}

figure:hover img {
  transform: scale3d(1.2, 1.2, 1);
}

figure:hover .overlay {
  opacity: 1;
}

figure:hover .overlay .buttons a {
  transform: scale3d(1, 1, 1);
}

figure .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 400ms;
}

figure .overlay a {
  display: inline-block;
  color: #fff;
  padding: 10px 23px;
  line-height: 1;
  border: 1px solid #fff;
  border-radius: 0px;
  margin: 4px;
  transform: scale3d(0, 0, 0);
  transition: all 400ms;
}

figure .overlay a:hover {
  text-decoration: none;
}

figure .overlay:hover a {
  transform: scale3d(1, 1, 1);
}

figure .buttons {
  margin-top: 40%;
  text-align: center;
  transform: translateY(-50%);
  display: inline-block;
}

figure .buttons a:hover {
  background: #d9ac16;
  border-color: #d9ac16;
}

figure .buttons a:focus {
  text-decoration: none;
}

figure figcaption {
  padding: 20px 25px;
  margin-top: 0;
  color: #666;
}

figure figcaption h4 {
  margin: 0;
}

figure figcaption h4 a {
  color: #d9ac16;
}

figure figcaption p {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 5px;
}

#mission, #gallery, #learn, #reviews, #pricing, #tutor {
  padding: 80px 0 0 0;
}

#pricing .row {
  padding-left: 20px;
  padding-right: 20px;
}

#learn .media {
  margin: 0px 0 70px 0;
  padding-left: 20px;
  padding-right: 20px;
}

#learn .media-top {
  margin: 30px 0 30px 0;
}

#learn .media .media-left {
  padding-right: 25px;
}

#learn h3 {
  color: #222222;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin: 0px 0px 15px;
  font-weight: 400;
}

#learn h4 {
  text-align: center;
  margin-bottom: 30px;
}

#learn .icon {
  text-decoration: none;
  color: #fff;
  background-color: #d9ac16;
  height: 100px;
  text-align: center;
  width: 100px;
  font-size: 50px;
  line-height: 100px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-shadow: #c09812 1px 1px, #c09812 2px 2px, #c09812 3px 3px, #c09812 4px 4px, #c09812 5px 5px, #c09812 6px 6px, #c09812 7px 7px, #c09812 8px 8px, #c09812 9px 9px, #c09812 10px 10px, #c09812 11px 11px, #c09812 12px 12px, #c09812 13px 13px, #c09812 14px 14px, #c09812 15px 15px, #c09812 16px 16px, #c09812 17px 17px, #c09812 18px 18px, #c09812 19px 19px, #c09812 20px 20px, #c09812 21px 21px, #c09812 22px 22px, #c09812 23px 23px, #c09812 24px 24px, #c09812 25px 25px, #c09812 26px 26px, #c09812 27px 27px, #c09812 28px 28px, #c09812 29px 29px, #c09812 30px 30px, #c09812 31px 31px, #c09812 32px 32px, #c09812 33px 33px, #c09812 34px 34px, #c09812 35px 35px, #c09812 36px 36px, #c09812 37px 37px, #c09812 38px 38px, #c09812 39px 39px, #c09812 40px 40px, #c09812 41px 41px, #c09812 42px 42px, #c09812 43px 43px, #c09812 44px 44px, #c09812 45px 45px, #c09812 46px 46px, #c09812 47px 47px, #c09812 48px 48px, #c09812 49px 49px, #c09812 50px 50px, #c09812 51px 51px, #c09812 52px 52px, #c09812 53px 53px, #c09812 54px 54px, #c09812 55px 55px, #c09812 56px 56px, #c09812 57px 57px, #c09812 58px 58px, #c09812 59px 59px, #c09812 60px 60px, #c09812 61px 61px, #c09812 62px 62px, #c09812 63px 63px, #c09812 64px 64px, #c09812 65px 65px, #c09812 66px 66px, #c09812 67px 67px, #c09812 68px 68px, #c09812 69px 69px, #c09812 70px 70px, #c09812 71px 71px, #c09812 72px 72px, #c09812 73px 73px, #c09812 74px 74px, #c09812 75px 75px, #c09812 76px 76px, #c09812 77px 77px, #c09812 78px 78px, #c09812 79px 79px, #c09812 80px 80px, #c09812 81px 81px, #c09812 82px 82px, #c09812 83px 83px, #c09812 84px 84px, #c09812 85px 85px, #c09812 86px 86px, #c09812 87px 87px, #c09812 88px 88px, #c09812 89px 89px, #c09812 90px 90px, #c09812 91px 91px, #c09812 92px 92px, #c09812 93px 93px, #c09812 94px 94px, #c09812 95px 95px, #c09812 96px 96px, #c09812 97px 97px, #c09812 98px 98px, #c09812 99px 99px, #c09812 100px 100px;
}

.wrapper_404 h1 {
  font-size: 200px;
  color: #d9ac16;
  line-height: 1;
}

.wrapper_404 h2 {
  font-size: 50px;
  margin-top: 0;
}

.wrapper_404 .btn-home {
  background: #414141;
  border: none;
  color: #fff;
  padding: 20px 35px;
  margin-top: 10px;
  font-size: 16px;
  font-size: 13px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: normal;
  border-radius: 0;
  transition: all linear .2s;
}

#blog-full-width {
  padding: 40px 0 80px;
}

article {
  padding: 30px 0;
}

.blog-content h2 {
  font-family: 'Roboto', sans-serif;
}

.blog-content h2 a {
  color: #444;
  font-weight: 400;
  font-size: 30px;
}

.blog-content .blog-meta {
  color: #9a9a9a;
  font-weight: 300;
  margin-bottom: 25px;
}

.blog-content .blog-meta span:after {
  content: '/';
  font-family: 'Libre Baskerville';
  padding: 0 3px 0 6px;
}

.blog-content .blog-meta a {
  color: #acacac;
}

.blog-content .blog-meta p {
  font-family: 'Libre Baskerville';
  margin-top: 20px;
}

.blog-content {
  font-family: 'Libre Baskerville';
}

.blog-content .btn-details {
  color: #d9ac16;
  padding: 0;
  background: #d9ac16;
  color: #fff;
  padding: 8px 18px;
  border-radius: 0;
  margin-top: 15px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 0px 1px #d9ac16;
}

.blog-post-image {
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebar {
  padding-top: 60px;
}

.sidebar .widget {
  margin-bottom: 40px;
  padding: 15px;
  border: 1px solid #dedede;
}

.sidebar .widget h3 {
  margin-top: 8px;
}

.sidebar .search input.form-control {
  border-right: 0;
  border-radius: 0;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}

.sidebar .search button {
  border-left: 0;
}

.sidebar .search button:hover {
  background: transparent;
}

.sidebar .author .author-img img {
  width: 90px;
  border-radius: 100%;
  margin-top: -40px;
  border: 3px solid #fff;
}

.sidebar .author .author-bio p {
  font-size: 14px;
  color: #888;
}

.sidebar .categories ul li {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 0;
  list-style: none;
}

.sidebar .categories ul li span.badge {
  float: right;
  background: transparent;
  color: #444;
  border: 1px solid #dedede;
  border-radius: 0;
}

.sidebar .categories ul li a {
  color: #555;
}

.sidebar .categories ul li:last-child {
  border-bottom: none;
}

.sidebar .recent-post ul li {
  margin: 20px 0;
}

.sidebar .recent-post ul li a {
  color: #555;
  font-size: 15px;
}

.sidebar .recent-post ul li a:hover {
  color: #d9ac16;
}

.sidebar .recent-post time {
  font-weight: 300;
  color: #999;
  font-size: 12px;
}

#clients {
  padding: 30px 0 60px;
}

#contact-section {
  padding: 90px 0;
}

#contact-section .contact-form {
  margin-top: 42px;
}

#contact-section .contact-form .btn-send {
  color: #fff;
  outline: none;
  background: #d9ac16;
  transition: all linear .2s;
  border-color: #d9ac16;
  border-radius: 0;
}

#contact-section input {
  display: block;
  height: 40px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.428571429;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 1px;
  border: 1px solid rgba(111, 121, 122, 0.3);
  box-shadow: none;
  -webkit-box-shadow: none;
}

#contact-section textarea {
  display: block;
  border-radius: 0;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cccccc;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#contact-section .address,
#contact-section .email,
#contact-section .phone {
  text-align: center;
  background: #F7F7F7;
  padding: 20px 0 40px 0;
  margin-bottom: 20px;
}

#contact-section .address i,
#contact-section .email i,
#contact-section .phone i {
  font-size: 45px;
  color: #d9ac16;
}

#contact-section .address h5,
#contact-section .email h5,
#contact-section .phone h5 {
  font-size: 16px;
  line-height: 1.4;
}

#contact-section .address-details {
  padding-top: 70px;
}

#map-canvas {
  width: 100%;
  height: 350px;
  background-color: #CCC;
}

.error {
  padding: 10px;
  color: #D8000C;
  border-radius: 2px;
  font-size: 14px;
  background-color: #FFBABA;
}

.success {
  background-color: #6cb670;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  padding: 10px;
}

#error,
#success {
  display: none;
  margin-bottom: 10px;
}

.gallery {
  padding: 100px;
}

.gallery figure .buttons {
  left: 40%;
}

.portfolio-meta span {
  margin: 5px 10px;
  font-weight: 300;
}

.portfolio-meta span a {
  color: #fff;
}

.single-post {
  padding: 80px 0 20px;
}

.single-post .post-content {
  padding: 40px 0;
}

.post-content blockquote p {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

.single-post .post-content ol li,
.single-post .post-content ul li {
  color: #666;
}

.single-post .media {
  border: 1px solid #dedede;
  padding: 30px 20px;
}

.single-post .media .media-body a {
  color: #d9ac16;
  font-size: 12px;
}

.single-post .media .media {
  border: none;
}

.single-post .comments {
  margin-top: 40px;
}

.single-post .post-comment {
  margin-top: 40px;
}

.single-post .post-comment h3 {
  margin-bottom: 15px;
}

.single-post .post-comment .form-control {
  box-shadow: none;
  border-radius: 0;
}

.single-post .post-comment .btn-send {
  background: #d9ac16;
  color: #fff;
  border-radius: 0;
}

/* portfolio single */
.work-single {
  padding: 100px 0 20px;
}

.work-single h3 {
  font-size: 30px;
  margin-bottom: 25px;
}

.work-single-image {
  margin-bottom: 35px;
}

.work-single-content p {
  margin-bottom: 30px;
}

.work-single blockquote {
  margin-bottom: 30px;
  padding: 30px 25px;
  background: #eae9ec;
  color: #848484;
}

.work-single blockquote p {
  margin-bottom: 0;
}

.work-single-sidebar {
  background: #eae9ec;
  margin: 70px 0 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  padding: 30px 25px;
}

.work-single-sidebar h5 {
  margin-bottom: 8px;
}

.work-single-sidebar h6 {
  margin-bottom: 20px;
}

.btn-work {
  color: #fff;
  background: #d9ac16;
  border-radius: 0;
}

#product-showcase-banner {
  padding-top: 160px;
}

#product-showcase-banner .block {
  padding: 20px 0 20px 50px;
}

#product-showcase-banner .block h2 {
  font-size: 40px;
  color: #d9ac16;
  margin-bottom: 20px;
  margin-top: 0;
}

#product-showcase-banner .block p {
  color: #666;
  line-height: 25px;
}

#product-showcase-banner .block .buttons {
  margin-top: 25px;
}

#product-showcase-banner .block .buttons .btn {
  color: #fff;
  border: none;
  padding: 12px 40px;
  transition: .2s all;
  letter-spacing: 2px;
  font-size: 15px;
}

#product-showcase-banner .block .buttons .btn-demo {
  background: #5abd4f;
  margin-right: 8px;
  border-bottom: 3px solid #429E38;
}

#product-showcase-banner .block .buttons .btn-demo:hover {
  background: #429E38;
}

#product-showcase-banner .block .buttons .btn-buy {
  background: #00AEDA;
  border-bottom: 3px solid #0190B5;
}

#product-showcase-banner .block .buttons .btn-buy:hover {
  background: #0190B5;
}

#product-showcase-banner .block .buttons .btn-buy span {
  margin-right: 8px;
  font-weight: bold;
}

#product-description {
  padding-top: 80px;
}

#product-description .block {
  height: 400px;
  overflow: hidden;
  margin-top: 35px;
  border-bottom: 1px solid #dedede;
  padding-top: 30px;
  position: relative;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

#product-description .block:hover img {
  transform: translateY(20px);
}

#product-description .block img {
  position: absolute;
  top: 10px;
  left: 0;
  transform: translateY(60px);
  transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#product-description .block .content {
  width: 60%;
  padding-top: 70px;
}

#product-description .block .content h3 {
  font-size: 32px;
  color: #5c5c5c;
}

#product-description .block .content p {
  color: #787f8c;
  line-height: 25px;
}

#related-items {
  padding: 60px 0 110px;
}

#related-items .title {
  border-bottom: 1px solid #dedede;
  padding: 10px 0;
  margin: 5px 15px 30px 15px;
  text-align: left;
  color: #777;
}

#related-items .product-details {
  margin-bottom: 0;
}

#related-items .block {
  position: relative;
  background: #fff;
  margin-bottom: 45px;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.14);
}

#related-items .block:hover .img-overly .overly {
  opacity: 1;
}

#related-items .block h4 {
  padding: 20px 15px;
  margin-top: 0;
  color: #666;
}

#related-items .block h4 span {
  float: right;
  color: #d9ac16;
}

#related-items .block .img-overly {
  position: relative;
  background: rgba(0, 0, 0, 0.85);
}

#related-items .block .img-overly img {
  border-radius: 0;
}

#related-items .block .img-overly .overly {
  background: rgba(57, 181, 74, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: .3s all;
}

#related-items .block .img-overly .overly a {
  position: absolute;
  top: 45%;
  left: 45%;
}

#related-items .block .img-overly .overly a i {
  font-size: 30px;
  color: #fff;
}

.service-page .service-parts .block {
  margin-bottom: 40px;
  text-align: center;
}

.service-page .service-parts .block i {
  font-size: 35px;
  color: #d9ac16;
}

.service-page .service-parts .block p {
  padding: 0 8px;
  font-size: 14px;
  color: #777;
  line-height: 1.7;
}

#team {
  margin: 50px 0;
}

.team-member {
  margin-top: 30px;
}

.team-member:hover .team-img img {
  opacity: .8;
}

.team-member .team-img {
  position: relative;
  margin-bottom: 20px;
}

.team-member .team-img .team-pic {
  width: 100%;
}

.team-member .team_designation {
  font-size: 13px;
}

.team-member h3 {
  color: #d9ac16;
  margin-bottom: 0;
  font-size: 20px;
}

.team-member p {
  font-size: 14px;
}

.team-member .social-icons a {
  background: #d9ac16;
  color: #fff;
  padding: 4px 8px;
  display: inline-block;
  font-size: 15px;
}

.team-member .social-icons .facebook {
  padding: 4px 12px;
}

#footer {
  background: #fff;
  padding: 25px 0;
  color: #555;
}

#footer .copyright {
  font-size: 13px;
  margin-bottom: 0;
}

#footer .copyright a {
  color: #d9ac16;
}

#footer .social {
  text-align: right;
  margin-bottom: 0;
}

#footer .social li {
  display: inline-block;
  margin-right: 15px;
}

#footer .social li a {
  font-size: 22px;
  color: #d9ac16;
}

.cd-headline.slide .cd-words-wrapper {
  color: #d9ac16;
}

ul.social-icons {
  height: auto;
  overflow: hidden;
  list-style: none !important;
  margin-bottom: 10px;
}

ul.social-icons li {
  float: none;
  display: inline-block;
  height: 36px;
}

#copyright a:hover,
#copyright nav .menu li a:hover {
  color: #e4e4e4 !important;
}

#copyright a {
  text-decoration: none;
}

#copyright a:hover {
  text-decoration: none;
}

/*# sourceMappingURL=maps/style.css.map */
