<!DOCTYPE HTML>
<html>

    {{ partial "header.html" . }}
    <body>
    
    {{ partial "nav.html" . }}

    <div id="wrapper">


    <div class="container">
        <div class="row">
            <section class="col-md col-lg col-">
                <header class="">
                    
                </header>
                {{ if .Params.image }}
                    <span class=""><img src="{{ .Site.Params.baseURL }}/img/{{ .Section }}/{{ .Params.image }}" alt="" /></span>
                {{ end }}
                {{ .Content }}
            </section>

            {{ "<!-- Contact -->" | safeHTML}}
            <section id="reviews">
                <div class="container">
                    <div class="section-heading">
                        {{ with .Site.Data.reviews.title }}<h2 class="wow fadeInDown" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
                    </div>
                    <div class="row">
                        {{ range $index, $elemrnt := .Site.Data.reviews.item }}
                        <div class="review-body col-sm-6 col-lg-6">
                            {{ with .text }}<p>{{ . }}</p>{{ end }}
                            {{ with .author }}<span>{{ . }}</span>{{ end }}
                        </div>
                        {{ end }}
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">  </div>
            <div class="col-sm-12 col-md-2">  
                {{ "<!-- Footer -->" | safeHTML}}
                    {{ if .Site.Params.footer.enable }}
                        {{ partial "footer.html" . }}
                    {{ end }}
            </div>
            <div class="col-sm-12 col-md-5">  </div>
        </div>
    </div>
    </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>
</html>
