{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section id="about">
    <div class="container">
        <div class="section-heading">
            {{ with .Site.Params.about.title }}<h2 class="wow fadeInDown" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
        </div>
        <div class="row">
            <div class="col-sm-6 mb-4">
                {{ with .Site.Params.about.image }}<img src="{{ . | absURL }}" alt="about-image">{{ end }}
            </div>
            <div class="col-sm-6">
                <div class="block">
                    {{ with .Site.Params.about.content }}<p>{{ . | markdownify | safeHTML }}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            <iframe width="400" height="226" src="https://www.youtube.com/embed/NE9KlQNkf7I"></iframe>
            <iframe width="400" height="226" src="https://www.youtube.com/embed/UNEfCTXYaAc"></iframe>
        </div>
        <div class="row">
            <br>
            <br>
            This is me teaching and playing together with my students the Antigua and Barbuda National Anthem.
            <br>
            <br>
            <iframe width="800" height="452" src="https://www.youtube.com/embed/7SkmN0eu_5g"></iframe>
        </div>
    </div> 
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}
