{{ if .Site.Data.feature.enable }}
{{ "<!-- Feature Section Start -->" | safeHTML }}
<section id="learn">
    <div class="container">
        {{ with .Site.Data.feature.content }}<p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">{{ . | safeHTML }}</p>{{ end }}
        <div class="section-heading">
            <!-- {{ with .Site.Data.feature.subtitle }}<p class="wow fadeInDown" data-wow-delay=".5s">{{ . | safeHTML }}</p>{{ end }} -->
        </div>
        <div class="row">
            {{ range $index, $elemrnt := .Site.Data.feature.item }}
            <div class="col-sm-6 col-lg-6">
                {{ $delay := mul (add $index 1) 300 }}
                <div class="media-top">
                    <div class="icon mx-auto">
                        {{ with .icon }}<i class="{{ . }}"></i>{{ end }}
                    </div>
                </div>
                <div class="media-body">
                    {{ with .title }}<h4 class="media-heading">{{ . }}</h4>{{ end }}
                    {{ with .description }}{{ . |markdownify }}{{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- Feature Section End -->" | safeHTML }}
{{ end }}
