{{ if .Site.Params.gallery.enable }}
{{ "<!-- Gallery Section Start -->" | safeHTML }}
<section id="gallery">
    <div class="container">
        <div class="section-heading">
            {{ with .Site.Params.gallery.title }}<h2 class="wow fadeInDown" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
        </div>

        <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="images/19149010_676413499226356_7529989733245021834_n.jpg" alt="Teaching at Manchester International Society" width="520" height="294">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="images/image1.jpeg" alt="Final Concert at Antigua Music Camp" width="520" height="294">
        </div>
        <br> 
        <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="images/19904885_691114011089638_2379144555636822712_n.jpg" alt="Teaching at Antigua Music Camp" width="520" height="294">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="images/PXL_20230205_233010545.MP.jpg" alt="Online Teaching in Australia" width="520" height="294">
        </div>
        <br> 
        <br> 
        <br>
        <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="520" height="294" src="https://www.youtube.com/embed/NE9KlQNkf7I"></iframe>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="520" height="294" src="https://www.youtube.com/embed/UNEfCTXYaAc"></iframe>
        </div>
        <br>
        <div class="row">  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="520" height="294" src="https://www.youtube.com/embed/7SkmN0eu_5g"></iframe>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="520" height="294" src="https://www.youtube.com/embed/n0iU4c4YK88"></iframe>
        </div>
    </div> 
</section>
{{ "<!-- Gallery Section End -->" | safeHTML }}
{{ end }}
