{{ if .Site.Params.about.enable }}
{{ "<!-- Mission Section Start -->" | safeHTML }}
<section id="mission">
    <div class="container">
        <div class="section-heading">
            {{ with .Site.Params.about.title }}<h2 class="wow fadeInDown" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
        </div>
        <div class="row">
            <div class="col-sm-6 mb-4">
                {{ with .Site.Params.mission.image }}<img src="{{ . | absURL }}" alt="mission-image">{{ end }}
            </div>
            <div class="col-sm-6">
                <div class="block">
                    {{ with .Site.Params.mission.content }}<p>{{ . | markdownify | safeHTML }}</p>{{ end }}
                </div>
            </div>
        </div>
        
    </div> 
</section>
{{ "<!-- Mission Section End -->" | safeHTML }}
{{ end }}
