{{ "<!-- Pricing Section Start -->" | safeHTML }}
<section id="pricing">
    <div class="container">
        <div class="section-heading">
            {{ with .Site.Params.pricing.title }}<h2 class="wow fadeInDown" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
        </div>
        <div class="row flex-items-xs-middle flex-items-xs-center">
                <!-- Table #1  -->
                <div class="col-xs-12 col-lg-4 my-3">
                  <div class="card text-center">
                    <div class="card-header">
                      <h3 class="display-2">Free</h3>
                    </div>
                    <div class="card-block">
                      <h4 class="card-title"> 
                        Taster class
                      </h4>
                      <ul class="list-group">
                        <li class="list-group-item">One time 30-minute class</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-lg-4 my-3">
                        <div class="card text-center">
                          <div class="card-header">
                            <h3 class="display-2"><span class="currency">£</span>35<span class="period">/per hour</span></h3>
                          </div>
                          <div class="card-block">
                            <h4 class="card-title"> 
                              Starter plan
                            </h4>
                            <ul class="list-group">
                              <li class="list-group-item">1-hour class</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                <div class="col-xs-12 col-lg-4 my-3">
                    <div class="card text-center">
                        <div class="card-header">
                        <h3 class="display-2"><span class="currency">£</span>32<span class="period">/per hour</span></h3>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title"> 
                                Premium plan
                            </h4>
                            <ul class="list-group">
                                <li class="list-group-item">Book four 1-hour classes in advance</li>
                            </ul>
                        </div>
                    </div>
                </div>
              </div>

            

        <div class="row section-footing">
            {{ with .Site.Params.pricing.rate }}<p class="wow fadeInDown my-2" data-wow-delay=".5s">{{ . | safeHTML }}</p>{{ end }}
            {{ with .Site.Params.pricing.adjust }}<p class="wow fadeInDown my-2" data-wow-delay=".5s">{{ . | safeHTML }}</p>{{ end }}
        </div>
    </div>
</section>
{{ "<!-- Pricing Section End -->" | safeHTML }}
