{{ if .Site.Params.mission.enable }}
{{ "<!-- Tutor Section Start -->" | safeHTML }}
<section id="tutor">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mb-4">
                {{ with .Site.Params.tutor.image }}<img src="{{ . | absURL }}" alt="tutor-image">{{ end }}
            </div>
            <div class="col-sm-6">
                <div class="block">
                    {{ with .Site.Params.tutor.content }}<p>{{ . | markdownify | safeHTML }}</p>{{ end }}
                </div>
            </div>
        </div>
    </div> 
</section>

<section id="gallery">
    <div class="container">
        <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="410" height="232" src="https://www.youtube.com/embed/NE9KlQNkf7I"></iframe>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="410" height="232" src="https://www.youtube.com/embed/UNEfCTXYaAc"></iframe>
            
        </div>
        <br>
        <div class="row">  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="410" height="232" src="https://www.youtube.com/embed/7SkmN0eu_5g"></iframe>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="410" height="232" src="https://www.youtube.com/embed/n0iU4c4YK88"></iframe>
        </div>
    </div> 
</section>
{{ "<!-- Tutor Section End -->" | safeHTML }}
{{ end }}
