{{ if .Site.Params.about.enable }}
{{ "<!-- Videos Section Start -->" | safeHTML }}
<section id="videos">
    <div class="container">
        <div class="section-heading">
            {{ with .Site.Params.videos.title }}<h2 class="wow fadeInDown" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
        </div>

        <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ with .Site.Params.videos.image }}<img src="{{ . | absURL }}" alt="videos-image">{{ end }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ with .Site.Params.videos.image1 }}<img src="{{ . | absURL }}" alt="videos-image1">{{ end }}

        </div>
        <br> 
        <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="520" height="294" src="https://www.youtube.com/embed/NE9KlQNkf7I"></iframe>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="520" height="294" src="https://www.youtube.com/embed/UNEfCTXYaAc"></iframe>
        </div>
        <br>
        <div class="row">  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="520" height="294" src="https://www.youtube.com/embed/7SkmN0eu_5g"></iframe>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="520" height="294" src="https://www.youtube.com/embed/n0iU4c4YK88"></iframe>
        </div>
    </div> 
</section>
{{ "<!-- Videos Section End -->" | safeHTML }}
{{ end }}
