{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section id="about">
    <div class="container">
        <div class="section-heading">
            {{ with .Site.Params.videos.title }}<h2 class="wow fadeInDown" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
        </div>
        
        <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="500" height="283" src="https://www.youtube.com/embed/NE9KlQNkf7I"></iframe>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="500" height="283" src="https://www.youtube.com/embed/UNEfCTXYaAc"></iframe>
        </div>
        <div class="row">
            <br>
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="500" height="283" src="https://www.youtube.com/embed/7SkmN0eu_5g"></iframe>
        </div>
    </div> 
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}
